<b>Number 1 - 
- Question -
> Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

- Answer -
>

In [1]:
years_list = [1996,1997,1998,1999,2000,2001]

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 2 - 
- Question -
> In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

- Answer -
>

In [3]:
years_list[2]

1998

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 3 - 
- Question -
> In the years list, which year were you the oldest?

- Answer -
>

In [4]:
years_list[-1]

2001

    
<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 4
    - 
- Question -
> Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

- Answer -
>

In [7]:
things = ['mozzarella','cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 5 - 
- Question -
> Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

- Answer -
> This capitalizes the word, but doesnâ€™t change it in the list:

In [13]:
things_cap = things.copy()
things_cap[1].capitalize()

'Cinderella'

In [14]:
things_cap

['mozzarella', 'cinderella', 'salmonella']

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 6 - 
- Question -
> Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

- Answer -
>

In [15]:
surprise = ['Groucho', 'Chico', 'Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 7 - 
- Question -
> Lowercase the last element of the surprise list, reverse it, and then capitalize it

- Answer -
>

In [16]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1].capitalize()

'Oprah'

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 8 - 
- Question -
> Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

- Answer -
>

In [17]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 9 - 
- Question -
> Write the French word for walrus in your three-word dictionary e2f.

- Answer -
>

In [18]:
e2f['walrus']

'morse'

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 10 - 
- Question -
> Make a French-to-English dictionary called f2e from e2f. Use the items method.

- Answer -
>

In [19]:
f2e = {}
for english, french in e2f.items():
 f2e[french] = english
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 11 - 
- Question -
> Print the English version of the French word chien using f2e.

- Answer -
>

In [20]:
f2e['chien']

'dog'

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 12 - 
- Question -
> Make and print a set of English words from the keys in e2f.

- Answer -
>

In [21]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 13 - 
- Question -
> Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

- Answer -
>

In [24]:
life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'],'octopi': {},'emus': {}},'plants': {},'other': {}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 14 - 
- Question -
> Print the top-level keys of life.

- Answer -
>

In [25]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 15 - 
- Question -
> Print the keys for life['animals'].

- Answer -
>

In [26]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<b>Number 16 - 
- Question -
> Print the values for life['animals']['cats']

- Answer -
>

In [27]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']

<b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------